<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <servlet>
    <servlet-name>apple</servlet-name>
    <servlet-class>proj1.get</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apple</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>apple1</servlet-name>
    <servlet-class>proj1.get2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apple1</servlet-name>
    <url-pattern>/get2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mango</servlet-name>
    <servlet-class>proj1.arrQuesGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mango</servlet-name>
    <url-pattern>/arrQuesGet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>kiwi</servlet-name>
    <servlet-class>proj1.arrQuesExe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kiwi</servlet-name>
    <url-pattern>/arrQuesExe</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>dragon</servlet-name>
    <servlet-class>proj1.arrAnsGet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dragon</servlet-name>
    <url-pattern>/arrAnsGet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orange</servlet-name>
    <servlet-class>proj1.jdbchttp2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orange</servlet-name>
    <url-pattern>/jdbchttp2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bananna</servlet-name>
    <servlet-class>proj1.jdbchttp1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bananna</servlet-name>
    <url-pattern>/jdbchttp1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sweet</servlet-name>
    <servlet-class>proj1.checksession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sweet</servlet-name>
    <url-pattern>/checksession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>logout</servlet-name>
    <servlet-class>proj1.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchStudentDetails</display-name>
    <servlet-name>FetchStudentDetails</servlet-name>
    <servlet-class>proj1.FetchStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchStudentDetails</servlet-name>
    <url-pattern>/FetchStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quiz1</display-name>
    <servlet-name>quiz1</servlet-name>
    <servlet-class>proj1.quizList1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quiz1</servlet-name>
    <url-pattern>/quizList1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>quiz2</display-name>
    <servlet-name>quiz2</servlet-name>
    <servlet-class>proj1.quizList2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quiz2</servlet-name>
    <url-pattern>/quizList2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>marks</servlet-name>
    <servlet-class>proj1.get_marks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>marks</servlet-name>
    <url-pattern>/get_marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>getmarks</servlet-name>
    <servlet-class>proj1.get_addmarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getmarks</servlet-name>
    <url-pattern>/get_addmarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>username</servlet-name>
    <servlet-class>proj1.username_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>username</servlet-name>
    <url-pattern>/username_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>avgm</servlet-name>
    <servlet-class>proj1.avg_marks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>avgm</servlet-name>
    <url-pattern>/avg_marks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ql3</servlet-name>
    <servlet-class>proj1.quizList3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ql3</servlet-name>
    <url-pattern>/quizList3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ql4</servlet-name>
    <servlet-class>proj1.quizList4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ql4</servlet-name>
    <url-pattern>/quizList4</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <servlet-name>ql5</servlet-name>
    <servlet-class>proj1.quizList5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ql5</servlet-name>
    <url-pattern>/quizList5</url-pattern>
  </servlet-mapping>
</web-app>